name: build-apk

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.17.5'
      - run: flutter pub get
      - run: flutter build apk
        
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
         name: LappkaOmmera.apk 
         path: build/app/outputs/apk/app.apk
